#q1_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }